@using CULTMACEDONIA_v2.Helpers;
@using CULTMACEDONIA_v2.Models;

@model CULTMACEDONIA_v2.Models.PointFullViewModel


@{
    ViewBag.Title = ViewBag.Title = @CultResources.Shared.SinglePointView;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link href="~/Content/css/bootstrap-image-gallery.css" rel="stylesheet" />
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <link href="~/Content/css/cultmaced.sidebar.css" rel="stylesheet" />
}


@Html.Partial("_PageHeader")

<div id="wrap">


    <div class="container offset-top">

        <div class="row ">


            <!-- Point main view container-->
            <div class="col-xs-12 col-sm-9 contents">
                <div class="row pointInfoSection">
                    <div class="">
                        <h1 class="page-header">@CultResources.View.Monuments <small>@CultResources.View.ViewMonument</small></h1>
                        <ol class="breadcrumb">
                            @CultResources.Shared.YouAreHere
                            <li><a href="index.html">@CultResources.View.Home</a></li>
                            <li class="active">@CultResources.View.ViewMonument</li>
                            <p class="pull-right pntRditName">@Model.PointName</p>
                        </ol>
                    </div>
                    <!-- MainInfo -->
                    <div class="panel panel-default pointMainInfo">
                        <div class="panel-body pointMainInfoPanel">
                            <div class="media row">
                                <div class="col-lg-2">
                                    <a href="#" class="pull-left mainIcon">
                                        <img alt="64x64" data-src="holder.js/64x64" class="media-object" style="width: 128px; height: 128px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABZklEQVR4nO2VMY6DMBBFc/+jTOduGnd0Lt37CL6Ct1gNcgislAXytNpfPCkRMHp+Js6j9z7+Mw9agEYBaAEaBaAFaBSAFqBRAFqARgFoARoFoAVoFIAWoFEAWoBGAWgBGgWgBWgUgBagUQBagOaSAGa2Ukp5uV5rHWY2lmVBZ94SIKU0cs6j9z5yzsPMRmvt5Z53ZO+YeUuA2IVa6+E9y7KsOxmy8dx2kbXWX89EApRShpkNd1+FZvHW2iq5lY1Fx7WIcWYmFuDodXX34e5P0vPz8+/8qplIgNih+F5KWT+31g5lY3Gx2CtmfjTA9vc6y86v8Iy7Pz27fc3PzPx4gN6/T+MQiB3d3rO3W3GKx7WU0umZSIDe++5O/iQbB1j8v+8daO/ORAP8ZRSAFqBRAFqARgFoARoFoAVoFIAWoFEAWoBGAWgBGgWgBWgUgBagUQBagEYBaAEaBaAFaBSAFqBRAFqA5gv8RR3CKeBlWQAAAABJRU5ErkJggg==">
                                    </a>
                                </div>
                                <div class="media-body mainInfo col-lg-10">

                                    @if (Request.IsAuthenticated)
                                {
                                <div id="panelFavorite" class="row">
                                    @Html.Action("UserFavoritePointPartial", new { @pointId = Model.PointId, @isFavorite = @Model.isUserFavorite })
                                </div>
                                }
                                    <h4 class="media-heading pointName">@Html.DisplayFor(model => model.PointName)</h4>
                                    <div class="categories">
                                        <a class="categorylink" href="@Url.Action("category", "Points" , new { cid=Model.PointCategoryId })">@Html.DisplayFor(model => model.Category.CategoryName)</a>
                                    </div>
                                    <div class="address">
                                        <span class="addr"><span class="fa fa-road"></span> @Html.DisplayFor(model => model.PointAddress)</span>,
                                        <span class="town"><span class="fa fa-home"></span> @Html.DisplayFor(model => model.PointPlaceNomos)</span>
                                        <a class="addrlink" href="http://maps.google.com/maps?daddr=37.98483860692609,23.760989606380463"><span class="fa fa-map-marker"></span></a>
                                    </div>

                                </div>
                            </div>
                            <div class="details">
                                <span class="phone"><span class="fa fa-phone-square"></span> @Html.DisplayFor(model => model.PointPhone)</span>,
                                <span class="mail"><span class="fa fa-envelope"></span> @Html.DisplayFor(model => model.PointEmail)</span>,
                                <span class="web"><a href='@Html.DisplayFor(model => model.PointWeb)' title="site"><span class="fa fa-globe"></span></a></span>
                            </div>
                            <div class="description">
                                <span>@CultResources.View.LabelPointDescription</span>
                                <p>
                                    @Html.DisplayFor(model => model.PointDescription)
                                </p>
                            </div>
                            <div class="details contact">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row attrrow">
                                            <div class="col-lg-3 attrKey">@CultResources.View.labelYear</div>
                                            <div class="col-lg-8 attrValue">@Html.DisplayFor(model => model.PointYear)</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row attrrow">
                                            <div class="col-lg-7 attrKey">@CultResources.View.CategoryCaption</div>
                                            <div class="col-lg-5 attrValue">@Html.DisplayFor(model => model.Category.CategoryName)</div>
                                        </div>
                                        <div class="row attrrow">
                                            <div class="col-lg-7 attrKey">@CultResources.View.EraCaption</div>
                                            <div class="col-lg-5 attrValue">@Html.DisplayFor(model => model.Era.EraName)</div>
                                        </div>
                                        <div class="row attrrow">
                                            <div class="col-lg-7 attrKey">@CultResources.View.PropectionCaption</div>
                                            <div class="col-lg-5 attrValue">@Html.DisplayFor(model => model.ProtectionLevel.ProtectionName)</div>
                                        </div>
                                        <div class="row attrrow">
                                            <div class="col-lg-7 attrKey">@CultResources.View.PropertyCaption</div>
                                            <div class="col-lg-5 attrValue">@Html.DisplayFor(model => model.Property.PropertyName)</div>
                                        </div>
                                        <div class="row attrrow">
                                            <div class="col-lg-7 attrKey">@CultResources.View.EthnologicalCaption</div>
                                            <div class="col-lg-5 attrValue">@Html.DisplayFor(model => model.Ethnological.EthnologicalName)</div>
                                        </div>
                                        <div class="row attrrow">
                                            <div class="col-lg-7 attrKey">@CultResources.View.ReligionCaption</div>
                                            <div class="col-lg-5 attrValue">@Html.DisplayFor(model => model.Religion.ReligionName)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MainInfo Panel ends here -->
                    <!-- PhotoGallery -->
                    <div id="photos" class="panel panel-default pointPhotoGallery">
                        <div class="panel-body pointMainPhotoPanel">
                            <div class="pointPhotosPanel">
                                <div class="row images">
                                    <div class="col-md-7">
                                        <!-- Total Photos for Point -->
                                        @{ int pntImageCnt = @Model.PointImage.Count; }
                                        <h4 class="media-heading pointName">@CultResources.View.PhotoGalleryPanelText (@pntImageCnt)</h4>
                                    </div>
                                    <div class="col-md-5 pull-right">
                                        <!-- Point Photos Gallery controls -->
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <button id="image-gallery-button" type="button" class="btn btn-primary btn-xs">
                                                    <i class="fa fa-picture-o"></i>
                                                    @CultResources.View.LaunchGalleryText
                                                </button>
                                            </div>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-success btn-xs">
                                                    <i class="fa fa-leaf"></i>
                                                    <input id="borderless-checkbox" type="checkbox"> @CultResources.View.BorderlessText
                                                </label>
                                                <label class="btn btn-primary btn-xs">
                                                    <i class="fa fa-arrows-alt"></i>
                                                    <input id="fullscreen-checkbox" type="checkbox"> @CultResources.View.FullScreenText
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div id="links">

                                    @foreach (CULTMACEDONIA_v2.Models.CultMacedoniaModel.PointImage i in Model.PointImage)
                                {
                                @*<div class="col-md-@(pntImageCnt-1)">*@
                                <a href='@i.ImageFilePath' title='@i.ImageTitle' data-gallery="">
                                    <img src="@i.ImageFilePath" alt="@i.ImageTitle" width="128" height="128" />
                                </a>
                                @*</div>*@
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PhotoGallery Panel ends here -->
                    <!-- VideoGallery -->
                    <div id="videos" class="panel panel-default pointVideoGallery">
                        <div class="panel-body pointMainVideoPanel">
                            <div class="pointVideoPanel">
                                <div class="row videos">
                                    <div class="col-md-7">
                                        <!-- TODO otal Photos for Point -->
                                        @{ int pntVideoCnt = 10; }
                                        <h4 class="media-heading ">Βίντεο (@pntVideoCnt)</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row"></div>
                        </div>
                    </div>
                    <!-- VideoGallery Panel ends here -->
                    <!-- Comments -->
                    <div id="comments" class="panel panel-default pointComments">
                        <div class="panel-body pointCommentsPanel">
                            <h4 class="media-heading ">Σχόλια Χρηστών </h4>

                        </div>
                    </div>
                    <!-- Comments Panel ends here -->
                    <!-- Ratings -->
                    <div id="ratings" class="panel panel-default pointRatings">
                        <div class="panel-body pointRatingsPanel">
                            <h4 class="media-heading ">Βαθμολογίες</h4>

                        </div>
                    </div>
                    <!-- Ratings Panel ends here -->
                </div>
            </div>
            <!-- Sidebar & Navigation container -->
            <div class="col-xs-6 col-sm-3 " role="navigation">
                <div role="complementary" class="bs-sidebar hidden-print affix">

                    <div class="pointview-navigation">
                        <ul class="nav bs-sidenav">
                            <li class="">
                                <a href="#top">@CultResources.View.InfoPanelText</a>
                            </li>
                            <li>
                                <a href="#photos">@CultResources.View.PhotoGalleryPanelText</a>
                            </li>
                            <li>
                                <a href="#videos">@CultResources.View.VideoGalleryPanelText</a>
                                <ul class="nav">
                                    <li><a href="#tabs-examples">Examples</a></li>
                                    <li><a href="#tabs-usage">Usage</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#comments">@CultResources.View.CommentPanelText</a>
                            </li>
                            <li>
                                <a href="#ratings">@CultResources.View.RatingsPanelText</a>
                            </li>

                        </ul>


                    </div>
                    <div id="map_canvas">
                    </div>

                </div>

                @*Δημιουργία αντικειμένου για την προβολή στο χάρτη*@
                @{

                PointMapViewModel pointvm = new PointMapViewModel();
                pointvm.PlaceName = @Model.PointName;
                pointvm.GeoLong = @Model.PointX;
                pointvm.GeoLat = @Model.PointY;
                pointvm.PlaceAddress = @Model.PointAddress;

                }


            </div>
        </div>

    </div>
</div>


    @section scripts {

        <script type="text/javascript">

            $(document).ready(function () {
                // δημιουργια αντικειμενου για προβολη στον χαρτη
                // γινεται αρχικοποιηση με χρηση Object Initializer
                point = {
                    'x': '@pointvm.GeoLong'.replace(",", "."),
                    'y': '@pointvm.GeoLat'.replace(",", "."),
                    'name': '@pointvm.PlaceName',
                    'addr': '@pointvm.PlaceAddress'
                };

                // κληση της συνάρτησης για προβολή σημειου στον χάρτη
                showMapPoint(point);

            });


        </script>
        <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
        <script src="~/Content/scripts/bootstrap-image-gallery.js"></script>
        <script src="~/Content/scripts/demo.js"></script>
    }


