
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,greek' rel='stylesheet' type='text/css'>

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <link href="~/Content/font-awesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/css/landing-page.css" rel="stylesheet" />


    @RenderSection("styles", false)

    @Scripts.Render("~/bundles/jqueryval")
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'></script>
    <script src="~/Scripts/jquery.pagifymvc-1.0.0.js"></script>
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/bowser.min.js"></script>



</head>
<body>

    <!-- navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=@Url.Action("Index","Home") class="navbar-brand">
                    <span class="one">@CultResources.Shared.AppName</span>
                    <span class="two">@CultResources.Shared.AppSurname</span>
                </a>
                @*Φορτώνουμε τo partial view που δημιουργήσαμε για την επιλογή γλώσσας*@
                @Html.Partial("_CultureChooserUserControl")
            </div>
            <!-- make navigation links togglable -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li><a href="#points">Points</a></li>
                    <li><a href="#mobile">Mobile</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div id="wrap">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="toTop"><i class="fa fa-chevron-circle-up fa-3x"></i></div>
                    @*<ul class="list-inline">
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>*@
                    <p class="copyright text-muted small">
                        &copy; @DateTime.Now.Year Cult Macedonia. <br/>
                        @CultResources.Shared.PoweredBy <a href="http://http://4-elements.org/" target="_blank" title="four ELEMENTS">four ELEMENTS</a> @CultResources.Shared.DevelopedBy
                        <a href="http://www.apphub.gr" target="_blank" title="apphub - innovative apps today">apphub.gr</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    @*<div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                    
                        
                    </p>
                    <p>
                                               <iframe scrolling="no" frameborder="0" id="twitter-widget-3" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1389999802.html#_=1390489229441&amp;id=twitter-widget-3&amp;lang=en&amp;screen_name=SBootstrap&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 135px; height: 20px;"></iframe>
                        <iframe scrolling="no" frameborder="0" id="twitter-widget-1" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1389999802.html#_=1390489229438&amp;count=horizontal&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fstartbootstrap.com%2F&amp;size=m&amp;text=Start%20Bootstrap%20-%20Free%20HTML%20Templates%20for%20Bootstrap%203&amp;url=http%3A%2F%2Fstartbootstrap.com&amp;via=SBootstrap" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 109px; height: 20px;"></iframe>
                        <br>
                        <div style="text-indent: 0px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 143px; height: 20px;" id="___follow_0"><iframe width="100%" scrolling="no" frameborder="0" hspace="0" marginheight="0" marginwidth="0" style="position: static; top: 0px; width: 143px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" id="I2_1390489230412" name="I2_1390489230412" src="https://apis.google.com/u/0/_/widget/render/follow?usegapi=1&amp;bsv=o&amp;rel=publisher&amp;height=20&amp;annotation=bubble&amp;origin=http%3A%2F%2Fstartbootstrap.com&amp;url=http%3A%2F%2Fplus.google.com%2F116841216196186745329&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.el.lWJv2ZCo6PQ.O%2Fm%3D__features__%2Fam%3DIQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTNOA1T-PMdtMJ_MA1_RrgaJbAwPdA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I2_1390489230412&amp;parent=http%3A%2F%2Fstartbootstrap.com&amp;pfname=&amp;rpctoken=41082251" data-gapiattached="true"></iframe></div>
                        <div style="text-indent: 0px; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;" id="___plusone_0"><iframe width="100%" scrolling="no" frameborder="0" hspace="0" marginheight="0" marginwidth="0" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" id="I3_1390489230432" name="I3_1390489230432" src="https://apis.google.com/u/0/_/+1/fastbutton?usegapi=1&amp;bsv=o&amp;size=medium&amp;origin=http%3A%2F%2Fstartbootstrap.com&amp;url=http%3A%2F%2Fstartbootstrap.com%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.el.lWJv2ZCo6PQ.O%2Fm%3D__features__%2Fam%3DIQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTNOA1T-PMdtMJ_MA1_RrgaJbAwPdA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I3_1390489230432&amp;parent=http%3A%2F%2Fstartbootstrap.com&amp;pfname=&amp;rpctoken=34832165" data-gapiattached="true" title="+1"></iframe></div>
                        <br>
                        <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:150px; height:21px;" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FIronSummitMedia&amp;width=450&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false"></iframe>
                    </p>
                    <p>
                        &copy; @DateTime.Now.Year <a href="http://www.cult-macedonia.com">Cult Macedonia</a><br>
                        @CultResources.Shared.PoweredBy <a href="http://http://4-elements.org/" target="_blank" title="four ELEMENTS">four ELEMENTS</a>.<br>
                        @CultResources.Shared.DevelopedBy <a href="http://www.apphub.gr" target="_blank" title="apphub - innovative apps today">apphub.gr</a>.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>*@



    <!-- /.modal -->
    <div class="modal fade" id="dialogDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
        <!-- The container for the modal slides -->
        <div class=" slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="fa fa-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/cult.macedonia.points.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script>
       
        $(document).ready(function () {

            $('.tlp').tooltip();
            $('.indicator').tooltip();

            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });


            $('#toTop').click(function () {
                
                $('html, body').animate({ scrollTop: 0 }, 'slow');
                return false;
            });
        });


        
    </script>

    @RenderSection("scripts", false)



</body>

</html>
