
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - @CultResources.Shared.AppName@CultResources.Shared.AppSurname </title>

    <link rel="icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")" />
    <!--[if IE]>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")" type="image/vnd.microsoft.icon" />
    <![endif]-->


    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,greek' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Scada:700&subset=latin,greek' rel='stylesheet' type='text/css'>

    @Styles.Render("~/cultmaced/css")
    @Scripts.Render("~/cultmaced/modernizr")
    @Scripts.Render("~/cultmaced/jquery")
    @Scripts.Render("~/cultmaced/bootstrap")


    <link href="~/Content/font-awesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/css/landing-page.css" rel="stylesheet" />


    <!-- styles extraaaaa todo -->

    <link href="~/Content/css/cultmaced.general.css" rel="stylesheet" />
    <link href="~/Content/css/flags.css" rel="stylesheet" />


    @RenderSection("styles", false)

    @Scripts.Render("~/cultmaced/jqueryval")
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'></script>
    <script src="~/Scripts/jquery.pagifymvc-1.0.0.js"></script>
    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/bowser.min.js"></script>




</head>
<body>


    
    @RenderBody()
    

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="toTop" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="@CultResources.Shared.GoToTop"><i class="icon fa fa-chevron-circle-up fa-3x"></i></div>

                    <p class="copyright text-muted small">
                        &copy; @DateTime.Now.Year Cult Macedonia. <br />
                        @CultResources.Shared.PoweredBy <a href="http://http://4-elements.org/" target="_blank" title="four ELEMENTS">four ELEMENTS</a>
                        
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- /.modal -->
    <div class="modal fade" id="dialogDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
        <!-- The container for the modal slides -->
        <div class=" slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="fa fa-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/cult.macedonia.points.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script>
       
        $(document).ready(function () {

            $('.tlp').tooltip();

            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });


            $("#toTop").bind({
                click: function (e) {
                    $(this).popover('toggle');
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                    return false;
                },
                mouseenter: function (e) {
                    $(this).popover('toggle');
                },
                mouseleave: function (e) {
                    $(this).popover('toggle');
                }
            });




        });


        
    </script>

    @RenderSection("scripts", false)



</body>

</html>
