@{
    ViewBag.Title = "Home Page";
}


@using CULTMACEDONIA_v2.Helpers;

@*Index view για την εφαρμογη-Η αρχική σελίδα
    εδώ έχουμε 2 fixed position full-container divs
    για χάρτη και social links*@

<div class="cm-fluid-container cm-fixed-map">

    @Html.Partial("vMapPartial")

</div>
<div class="cm-fluid-container cm-fixed-social">
    <div class="cm-social">
        <div class="container">
            <ul class="cm-social-buttons">
                <li>
                    <iframe width="100px" scrolling="0" height="20px" frameborder="0" allowtransparency="true"
                             src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=watch&amp;count=true" class="github-btn"></iframe>
                </li>
                <li>
                    <iframe width="102px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" 
                            src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=fork&amp;count=true" class="github-btn"></iframe>
                </li>
                <li class="follow-btn">
                    <iframe scrolling="no" frameborder="0" id="twitter-widget-1" allowtransparency="true" 
                            src="http://platform.twitter.com/widgets/follow_button.1383343979.html#_=1383735174013&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=cultmacedonia&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 242px; height: 20px;"></iframe>
                </li>
                <li class="tweet-btn">
                    <iframe scrolling="no" frameborder="0" id="twitter-widget-0" allowtransparency="true" 
                            src="http://platform.twitter.com/widgets/tweet_button.1383343979.html#_=1383735174010&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fgetbootstrap.com%2F2.3.2%2F&amp;related=mdo%3ACreator%20of%20Twitter%20Bootstrap&amp;size=m&amp;text=Bootstrap&amp;url=http%3A%2F%2Ftwbs.github.com%2Fbootstrap%2F&amp;via=twbootstrap" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 109px; height: 20px;"></iframe>
                </li>
            </ul>
        </div>
    </div>
</div>


<div id="restContent" class="cm-fluid-container cm-margin-top">
    <div class="container">

        <div class="jumbotron cm-jumbotron">
            <h1>Cult Macedonia!</h1>
            <p class="lead">An online cultural tour in Central Macedonia.</p>
            <p>
                <a role="button" href=@Url.Action("Search","Points") class="btn btn-lg btn-primary">@CultResources.Shared.ViewPoints</a>
                <a role="button" href=@Url.Action("New","Points") class="btn btn-lg btn-success">@CultResources.Shared.AddPoints</a>
            </p>
        </div>

        <div id="points" class="row">

            <h3 class="page-header">@CultResources.View.Monuments <small></small></h3>

            <div data-bind="foreach: Items">

                <div class="col-lg-3">

                    <div class="thumbnail">
                        <div data-bind="foreach: pointImages" class="thumbnail">
                            <img data-bind="attr:{'src':  ImagePath}" class="item-preview" />
                        </div>
                        <div class="caption">
                            <h3 class="item-name" data-bind="text: PointName"></h3>
                            <p>This would be a great spot to feature some brand new products!</p>
                            <p><a class="btn btn-primary" data-bind="attr: { 'href': '@Url.Action("View","Points")/' + PointId }">@CultResources.View.ViewMonument!</a></p>
                        </div>
                    </div>


                </div>


            </div>

            <div class="row">
                <div class="col-md-6">
                    @CultResources.View.Page <span data-bind="text: MetaData.PageNumber"></span> @CultResources.View.of <span data-bind="text: MetaData.PageCount"></span>
                    <span>@Html.ActionLink(@CultResources.Shared.ViewAll, "Index", "Points") </span>
                </div>
                <div class="col-md-6">
                    <ul class="pagination pull-right">
                        <li><a style="display: none;" data-bind="click: FirstPage, visible: MetaData.HasPreviousPage" href="javascript:void(0);">@CultResources.View.First</a></li>
                        <li><a style="display: none;" data-bind="click: PreviousPage, visible: MetaData.HasPreviousPage" href="javascript:void(0);">< @CultResources.View.Prev</a></li>
                        <li><a style="display: none;" data-bind="click: NextPage, visible: MetaData.HasNextPage" href="javascript:void(0);">@CultResources.View.Next ></a></li>
                        <li><a style="display: none;" data-bind="click: LastPage, visible: MetaData.HasNextPage" href="javascript:void(0);">@CultResources.View.Last</a></li>
                    </ul>
                </div>
            </div>




        </div>


        <div id="mobile" class="row">

            <h3 class="page-header">Mobile<small> @CultResources.View.mobilesmall</small></h3>

            <div class="col-lg-6">

                <div data-ride="carousel" class="carousel slide" id="carousel-example-captions">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-example-captions"></li>
                        <li data-slide-to="1" data-target="#carousel-example-captions" class=""></li>
                        <li data-slide-to="2" data-target="#carousel-example-captions" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">

                            <img src="~/Content/images/cultmaced_mobapp_1.png" />
                            @*<div class="carousel-caption">
                                <h3>First slide label</h3>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>*@
                        </div>
                        <div class="item">
                            <img src="~/Content/images/cultmaced_mobapp_2.png" />
                            @*<div class="carousel-caption">
                                <h3>Second slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>*@
                        </div>
                        <div class="item">
                            <img src="~/Content/images/cultmaced_mobapp_3.png" />
                            @*<div class="carousel-caption">
                                <h3>Third slide label</h3>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>*@
                        </div>
                    </div>
                    <a data-slide="prev" href="#carousel-example-captions" class="left carousel-control">
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <a data-slide="next" href="#carousel-example-captions" class="right carousel-control">
                        <span class="fa fa-chevron-left"></span>
                    </a>
                </div>

            </div>
            <div class="col-lg-6">
                <h2>One your mobile way</h2>
                <p>Here is where you will introduce visitors to the business. Make sure to use clear and informative sentences. Use appropriate keywords here to make sure search engines can find the business.</p>
                <p>
                    When using this template, two decisions will be open to visitors. Decision one will be to use above-the-fold information to interact with the page. Decision two will be to scroll down and see the
                    additional marketing boxes. Either way, the user will get the information they need!
                </p>
            </div>

        </div>

        <div id="contact" class="row">


            <h3 class="page-header">@CultResources.View.Contact <small>@CultResources.View.ContactSmall</small></h3>

            <div class="col-sm-8">
                @{
                    
                    var contact = new CULTMACEDONIA_v2.Models.ContactFormViewModel();
                }

                @Html.Partial("_ContactForm", contact)

                @*<form action="contact-form-submission.php" method="POST" role="form">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="input1">@CultResources.View.username</label>
                            <input type="text" id="input1" class="form-control" name="contact_name">
                        </div>

                        <div class="form-group col-lg-4">
                            <label for="input2">@CultResources.View.email</label>
                            <input type="email" id="input2" class="form-control" name="contact_email">
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <label for="input4">@CultResources.View.message</label>
                            <textarea id="input4" rows="13" cols="20" class="form-control" name="contact_message"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" value="contact" name="save">
                            <button class="btn btn-primary" type="submit">@CultResources.View.submit</button>
                        </div>
                    </div>
                </form>*@
            </div>





            <div class="col-sm-4">

                <h4>CultMacedonia</h4>
                <p>
                    Βερανζέρου 1, Αθήνα 106 77<br>
                </p>
                <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: 210 3696 3696</p>
                <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:feedback@startbootstrap.com">info@cultmacedonia.com</a></p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a title="" data-placement="top" data-toggle="tooltip" href="#facebook-page" data-original-title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li class="tooltip-social linkedin-link"><a title="" data-placement="top" data-toggle="tooltip" href="#linkedin-company-page" data-original-title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    <li class="tooltip-social twitter-link"><a title="" data-placement="top" data-toggle="tooltip" href="#twitter-profile" data-original-title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li class="tooltip-social google-plus-link"><a title="" data-placement="top" data-toggle="tooltip" href="#google-plus-page" data-original-title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                </ul>


                <iframe width="400" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?t=m&amp;q=%CE%92%CE%B5%CF%81%CE%B1%CE%BD%CE%B6%CE%AD%CF%81%CE%BF%CF%85+1,+%CE%91%CE%B8%CE%AE%CE%BD%CE%B1,+%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1&amp;ie=UTF8&amp;hq=&amp;hnear=%CE%92%CE%B5%CF%81%CE%B1%CE%BD%CE%B6%CE%AD%CF%81%CE%BF%CF%85+1,+%CE%91%CE%B8%CE%AE%CE%BD%CE%B1,+%CE%9A%CE%B5%CE%BD%CF%84%CF%81%CE%B9%CE%BA%CF%8C%CF%82+%CE%A4%CE%BF%CE%BC%CE%AD%CE%B1%CF%82+%CE%91%CE%B8%CE%B7%CE%BD%CF%8E%CE%BD,+%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1&amp;ll=37.985069,23.731499&amp;spn=0.01353,0.034332&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small>
                    <a href="https://maps.google.com/maps?t=m&amp;q=%CE%92%CE%B5%CF%81%CE%B1%CE%BD%CE%B6%CE%AD%CF%81%CE%BF%CF%85+1,+%CE%91%CE%B8%CE%AE%CE%BD%CE%B1,+%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1&amp;ie=UTF8&amp;hq=&amp;hnear=%CE%92%CE%B5%CF%81%CE%B1%CE%BD%CE%B6%CE%AD%CF%81%CE%BF%CF%85+1,+%CE%91%CE%B8%CE%AE%CE%BD%CE%B1,+%CE%9A%CE%B5%CE%BD%CF%84%CF%81%CE%B9%CE%BA%CF%8C%CF%82+%CE%A4%CE%BF%CE%BC%CE%AD%CE%B1%CF%82+%CE%91%CE%B8%CE%B7%CE%BD%CF%8E%CE%BD,+%CE%95%CE%BB%CE%BB%CE%AC%CE%B4%CE%B1&amp;ll=37.985069,23.731499&amp;spn=0.01353,0.034332&amp;z=14&amp;iwloc=A&amp;source=embed"
                       style="color:#0000FF;text-align:left">Προβολή μεγαλύτερου χάρτη</a>
                </small>
            </div>



        </div>
    </div>
</div>








@section scripts {
    <script src="~/Scripts/knockout-3.0.0.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->

    <script>
        $(function () {


            $('.carousel-control.left').click(function () {
               
                $('#carousel-example-captions').carousel('prev');
            });

            $('.carousel-control.right').click(function () {
                
                $('#carousel-example-captions').carousel('next');
            });

            $('#points').pagify({
                dataUrl: '@Url.Action("GetPointList", "Points")',
                callBack: function () {
                    // Ajax remove preloader and some other callbacks
                    //$('#loading').hide();
                },
                pageSize: 4,
                beforeSend: function () {
                    // Ajax show preloader and some other function before start
                    //$('#loading').show();
                }
            });


            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                  || location.hostname == this.hostname) {

                    var target = $(this.hash);

                    var s = $("#restContent").offset().top;


                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');



                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top - s + 50
                        }, 1000);
                        return false;
                    }
                }
            });
        });



    </script>


}













