@model CULTMACEDONIA_v2.Models.LoginViewModel


@{
    ViewBag.Title = @CultResources.Shared.AppLogin;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}




<div class="container ">



    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin cult-login-form", role = "form" }))
    {
        <h2 class="form-signin-heading">@ViewBag.Title</h2>
        <h4>@CultResources.Shared.UseLocalAccount</h4>
        
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
   
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = @CultResources.Shared.UserNamePlhdr })
                @Html.ValidationMessageFor(m => m.UserName)

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = @CultResources.Shared.PasswordPlhdr })
                @Html.ValidationMessageFor(m => m.Password)

                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </label>

        <input type="submit" value="@CultResources.Shared.AppLogin" class="btn btn-lg btn-primary btn-block" />
        <br/>
        <p>@Html.ActionLink("Register", "Register") if you don't have a local account.</p>
        
    }

    <section class="form-signin" id ="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
    </section>

    </div>

    
