@model CULTMACEDONIA_v2.Models.RegisterViewModel
@{
    ViewBag.Title = @CultResources.Shared.RegisterView;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@Html.Partial("_PageHeader")

<div id="wrap">

    <div class="container ">

        

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-register cult-login-form", role = "form" }))
        {
            

            <h2 class="form-signin-heading">@ViewBag.Title</h2>
            <h4>@CultResources.Shared.CreateLocalAccount</h4>
            
            
            @Html.AntiForgeryToken()
           
            @Html.ValidationSummary(true)


            <div class="form-group">

                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = @CultResources.Shared.UserNamePlhdr })
                    @Html.ValidationMessageFor(m => m.UserName)
            </div>
            
            <div class="form-group">

                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", @placeholder = @CultResources.Shared.UserEmailPlhdr })
                    @Html.ValidationMessageFor(m => m.UserEmail)
            </div>
            
            
            
            <div class="form-group">
               
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = @CultResources.Shared.PasswordPlhdr })
                    @Html.ValidationMessageFor(m => m.Password)
            </div>
            
            
            <div class="form-group">
                
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = @CultResources.Shared.PasswordConfirmPlhdr })
                    @Html.ValidationMessageFor(m => m.Password)
                
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="@CultResources.Shared.RegisterView" />
                </div>
            </div>
        }


    </div>

</div>