@model CULTMACEDONIA_v2.Models.CultMacedoniaModel.Point

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Point</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PointName)
             @foreach (CULTMACEDONIA_v2.Models.CultMacedoniaModel.PointImage i in Model.PointImage)
                {
                     @i.ImageTitle
                }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointPlaceNomos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointPlaceNomos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Era.EraName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Era.EraName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ethnological.EthnologicalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethnological.EthnologicalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.PropertyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.PropertyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtectionLevel.ProtectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtectionLevel.ProtectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion.ReligionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion.ReligionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PointId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
