@model IEnumerable<CULTMACEDONIA_v2.Models.CultMacedoniaModel.Point>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="example" class="table table-striped table-bordered table-hover dataTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PointName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointPlaceNomos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Era.EraName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ethnological.EthnologicalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProtectionLevel.ProtectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion.ReligionName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PointName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointPlaceNomos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Era.EraName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ethnological.EthnologicalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProtectionLevel.ProtectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion.ReligionName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PointId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PointId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PointId })
            </td>
        </tr>
    }

</table>


